<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Section</th>
                    <th scope="col">AVEIRO</th>
                    <th scope="col">BURSA</th>
                    <th scope="col">CMC</th>
                    <th scope="col">MIOVENI</th>
                    <th scope="col">MOTORES</th>
                    <th scope="col">SEVILLA</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>