<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!--INCLUDE THE HEADER-->
    <%- include('partials/head.ejs') %>
</head>

<body>
    <div id="liveAlertPlaceHolder"></div>

    <div class="adminPanel">
        <div class="container mt-5">
            <h1 class="text-center"><%- title%></h1>
            <form id="uploadFiles" action="/anotherFile-bestPractise" method="POST" enctype="multipart/form-data">
                <div class="col">
                    <label for="anotherFileBestPractise" class="form-label">Another files</label>
                    <input class="form-control" type="file" id="anotherFileBestPractise" name="anotherFileBestPractise"
                        accept=".csv,.xlsx,.xlsm,.doc,.docx,.pptx,.potx,.pdf" multiple>
                </div>

                <br>

                <button type="submit" class="btn btn-primary">Continue</button>
            </form>
        </div>
    </div>
</body>

</html>