<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page</title>
    <!--INCLUIMOS LA CABECERA-->
    <%- include('partials/head.ejs') %>
</head>
<body>
    <!--INCLUIMOS LA BARRA DE NAVEGACIÓN-->
    <%- include('partials/nav.ejs') %>

    <section class="hero-section d-flex align-items-center">
        <div class="container text-center">
            <h1 class="display-1 mb-4">Welcome to the Intelligence Dimensional</h1>
            <p class="lead mb-4">This is an alpha version of the tool, so a lot of information is missing, and there may be errors.<br><hr><b>To get started, use the top navigation panel to select your plant.<b></p>
        </div>
    </section>
</body>
</html>