<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Date</th>
                    <th scope="col">Measured part</th>
                    <th scope="col">Description</th>
                    <th scope="col">AX</th>
                    <th scope="col">Mold type</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>