<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistics Engagement</title>
    <script src="/script/film/film.js"></script>
    <link href="/css/film/style.css" rel="stylesheet">

    <!--INCLUIMOS LA CABECERA-->
    <%- include('partials/head.ejs') %>

</head>

<body class="h-screen bg-gray-800 text-white">
    <!--INCLUDE THE MODAL-->
    <%- include('partials/modal.ejs') %>

        <div class="flex h-screen">
            <!-- Panel lateral izquierdo -->
            <div
                class="w-full md:w-1/6 bg-[#212f4d] text-white p-6 rounded-lg shadow-lg flex flex-col items-center space-y-6 animate-slideInLeft">
                <h2 class="text-2xl font-semibold tracking-wider mb-6 border-b-2 border-gray-600 pb-2">Panel de opciones
                </h2>

                <!-- Bot贸n para mostrar la planta seleccionada -->
                <button id="plantaSeleccionada"
                    class="flex items-center w-full justify-center bg-[#1f2937] hover:bg-[#4a6b8c] text-white font-semibold py-3 px-6 rounded-lg shadow-lg transform transition duration-300 hover:scale-110 hover:shadow-2xl space-x-3 animate-fadeInFromLeft focus:outline-none focus:ring-2 focus:ring-[#1f2937] focus:ring-opacity-50"
                    value="" onclick="mostrarModalSeleccionPlanta()">
                </button>

                <!-- Contenedor para visualizar la fecha de la toma de datos 
                <div id="contenedorTomaDatos"
                    class="bg-[#1f2937] p-4 rounded-lg shadow-md space-y-4 w-full animate-fadeInFromLeft animate-delay-200">
                    <h3 id="tomaDeDatosTitle" class="text-lg font-semibold text-center text-white">Toma de datos</h3>
                    <div class="flex justify-between text-white text-2xl font-bold">
                        <div class="flex flex-col items-center">
                            <span class="block">Inicio:</span>
                            <span id="fechaInicio" class="block text-lg"></span>
                        </div>
                        <div class="flex flex-col items-center">
                            <span class="block">Fin:</span>
                            <span id="fechaFinal" class="block text-lg"></span>
                        </div>
                    </div>
                </div> -->

                <!-- Bot贸n para visualizar la saturaci贸n total -->
                <button id="visualizarInformeSaturacion"
                    class="flex items-center w-full justify-center bg-[#1f2937] hover:bg-[#4a6b8c] text-white font-semibold py-3 px-4 rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg space-x-2 animate-fadeInFromLeft"
                    onclick="visualizarInformeStaturacionUAT()">
                    <span><i class="bi bi-bar-chart-fill"></i> Visualizar informe de saturaci贸n UAT</span>
                </button>

                <!-- Bot贸n para generar el informe PDF -->
                <button id="boton_generar_informe"
                    class="flex items-center w-full justify-center bg-[#1f2937] hover:bg-[#4a6b8c] text-white font-semibold py-3 px-4 rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg space-x-2 animate-fadeInFromLeft"
                    onclick="generarInforme()">
                    <span><i class="bi bi-filetype-pdf"></i> Generar informe PDF</span>
                </button>


                <!-- Contenedor para visualizar la leyenda de colores -->
                <div id="visualizarLeyenda"
                    class="w-full justify-center bg-[#1f2937] hover:bg-[#4a6b8c] text-white font-semibold py-3 px-4 rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg space-x-2 animate-fadeInFromLeft">
                    <div>Leyenda colores etapas
                        <hr>
                    </div>
                    <div class="item_leyenda">
                        <div class="color_leyenda" style="background-color: #6ee7b7;"></div>
                        <span>De 0 a 49 metros</span>
                    </div>
                    <div class="item_leyenda">
                        <div class="color_leyenda" style="background-color: #fcd34d;"></div>
                        <span>De 50 a 99 metros</span>
                    </div>
                    <div class="item_leyenda">
                        <div class="color_leyenda" style="background-color: #fca5a5;"></div>
                        <span>100 o m谩s metros</span>
                    </div>
                </div>


                <!-- Contenedor para visualizar el turno de la etapa -->
                <div id="visualizarTurno"
                    class="bg-[#1f2937] p-4 rounded-lg shadow-md space-y-4 w-full hidden animate-fadeInFromLeft animate-delay-200">
                    <h3 id="jornadaLaboralTitle" class="text-lg font-semibold text-center text-white">Jornada Laboral
                    </h3>
                    <div class="flex justify-between text-white text-2xl font-bold">
                        <div class="flex flex-col items-center">
                            <span class="block">Inicio:</span>
                            <span id="jornadaInicio" class="block"></span>
                        </div>
                        <div class="flex flex-col items-center">
                            <span class="block">Fin:</span>
                            <span id="jornadaFinal" class="block"></span>
                        </div>
                    </div>
                </div>

                <!-- Bot贸n para a帽adir un puesto -->
                <button id="anyadirPuesto"
                    class="flex items-center w-full justify-center bg-[#2563eb] hover:bg-[#3b82f6] text-white font-semibold py-3 px-4 rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg space-x-2 animate-fadeInFromLeft resaltadoBotones">
                    <span><i class="bi bi-plus-square-fill"></i> A帽adir puesto</span>
                </button>

                <!-- Bot贸n para a帽adir una etapa-->
                <button id="anyadirEtapa" style="display: none;"
                    class="flex items-center w-full justify-center bg-[#2563eb] hover:bg-[#3b82f6] text-white font-semibold py-3 px-4 rounded-lg shadow-md transform transition duration-300 hover:scale-105 hover:shadow-lg space-x-2 animate-fadeInFromLeft animate-delay-200 resaltadoBotones">
                    <span><i class="bi bi-plus-square-fill"></i> A帽adir etapa</span>
                </button>

                <!-- Buscador de etapas -->
                <input id="buscadorEtapa" type="search" name="q" style="display: none;"
                    class="py-2 text-sm text-white bg-gray-800 rounded-md pl-10 animate-fadeInFromLeft animate-delay-400"
                    placeholder="Buscar etapa..." autocomplete="off">
            </div>

            <!-- Contenedor principal -->
            <div class="flex-1 flex flex-col overflow-auto">

                <!-- Secci贸n superior (Header o barra superior) -->
                <header class="bg-gray-800 shadow p-4 rounded-lg max-w-4xl mx-auto flex items-center">
                    <a href="/"><img src="/assets/film/logo_HORSE.png" alt="logo_HORSE" class="navbar-logo mr-4"></a>
                    <h1 class="text-2xl font-semibold text-white">Logistics Engagement</h1>
                </header>

                <!-- Secci贸n inferior (Contenido principal) -->
                <main class="flex-1 bg-gray-900 p-6 flex flex-col">
                    <button id="botonRestaurarPuesto" onclick="restaurarPuestosOcultos()">
                        <i class="bi bi-arrow-clockwise"></i> <br>
                        <i class="bi bi-eye-fill"></i>
                        <span id="conteoPuestosOcultos"></span>
                    </button>
                    <!-- Parte superior del contenido principal -->
                    <div class="flex-1 bg-white p-4 mb-4 rounded-lg shadow">
                        <div class="flex items-center justify-between">
                            <h2 class="text-xl font-bold mb-4 text-black">Puestos disponibles</h2>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownTurnos"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Selecci贸n de turno
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuTurnos">
                                    <li><a class="dropdown-item" data-turno="M">Ma帽ana </a></li>
                                    <li><a class="dropdown-item" data-turno="T">Tarde</a></li>
                                    <li><a class="dropdown-item" data-turno="N">Noche</a></li>
                                    <li><a class="dropdown-item" data-turno="A">Todos los turnos</a></li>
                                </ul>
                            </div>
                        </div>

                        <button class="btn btn-primary" onclick="graficoPrueba()"><i
                                class="bi bi-bar-chart"></i></button>

                        <!-- Contenedor de Glide (carrusel) -->
                        <div class="glide" id="graficos-wrapper">
                            <div class="glide__track" data-glide-el="track">
                                <ul class="glide__slides" id="graficos-container">
                                    <!-- Aqu铆 se a帽aden los puestos -->
                                </ul>
                            </div>

                            <!-- Botones de navegaci贸n -->
                            <div class="glide__arrows" data-glide-el="controls">
                                <button class="glide__arrow glide__arrow--left" data-glide-dir="<"
                                    style="color: white;"><i class="bi bi-arrow-left-short"></i></button>
                                <button class="glide__arrow glide__arrow--right" data-glide-dir=">"
                                    style="color: white;"><i class="bi bi-arrow-right-short"></i></button>
                            </div>

                            <!-- Indicadores de posici贸n -->
                            <div class="glide__bullets" data-glide-el="controls[nav]">

                            </div>
                        </div>
                    </div>

                    <!-- Parte inferior del contenido principal -->
                    <div class="flex-1 bg-white p-4 rounded-lg shadow">
                        <h2 class="text-xl font-bold text-black" id="tituloPrincipalEtapasDisponibles">Etapas
                            disponibles</h2>

                        <div id="tablaEtapas"></div>
                    </div>
                </main>
            </div>
        </div>
</body>

</html>

<script>
    //Inicializamos el JQUERY
    $(document).ready(function () {
        $(document).ready(function () {
            //A帽adimos la funcionalidad para el bot贸n de a帽adir puesto
            $('#anyadirPuesto').on('click', function () {
                //Configuramos el t铆tulo del modal
                $('#modal .modal-title').text('CREAR UN PUESTO');

                //Configuramos el cuerpo del modal
                $('#modal .modal-body').html(`
                    <form id="formulario_anyadirPuesto" method="POST">
                        <!-- N煤mero de puesto -->
                        <div class="mb-4">
                            <label for="numero_puesto" class="block text-gray-700 font-bold mb-2">N煤mero de Puesto:</label>
                            <input type="number" id="numero_puesto" name="numero_puesto" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ingresa el n煤mero de puesto" required>
                        </div>

                        <!-- Nombre del puesto -->
                        <div class="mb-4">
                            <label for="nombre_puesto" class="block text-gray-700 font-bold mb-2">Nombre del Puesto:</label>
                            <input type="text" id="nombre_puesto" name="nombre_puesto" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ingresa el nombre del puesto" required>
                        </div>

                        <!-- N煤mero de operarios -->
                        <div class="mb-4">
                            <label for="numero_operarios" class="block text-gray-700 font-bold mb-2">N煤mero de Operarios:</label>
                            <input type="number" id="numero_operarios" name="numero_operarios" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Ingresa el n煤mero de operarios" min="1" max="5" required>
                        </div>

                        <!-- Opci贸n para los mapas -->
                        <div class="relative inline-block w-64">
                            <label for="mapa" class="block text-sm font-medium text-gray-700 mb-2">Seleccione un mapa</label>
                            <select id="mapa" name="mapa" class="block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md">
                                <option value="sevilla.png">SEVILLA</option>
                                <option value="sevilla2.jpg">SEVILLA 2</option>
                            </select>
                        </div>

                        <!-- Opci贸n para los turno -->
                        <div class="relative inline-block w-64">
                            <label for="turno" class="block text-sm font-medium text-gray-700 mb-2">Seleccione un turno</label>
                            <select id="turno" name="turno" class="form-select">
                                <option value="M"> Ma帽ana</option>
                                <option value="T"> Tarde</option>
                                <option value="N"> Noche</option>
                            </select>
                        </div>

                        <!-- Bot贸n de continuar -->
                        <div class="mt-6">
                            <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-500 transition duration-300">Crear puesto</button>
                        </div>
                    </form>
                `);

                //Configuramos el footer del modal
                $('#modal .modal-footer').html(``);

                //Mostramos el modal
                $('#modal').modal('show');

                //A帽adimos la funcionalidad al formulario despu茅s de que ha sido creado
                $('#formulario_anyadirPuesto').on('submit', function (e) {
                    //Paramos la propagaci贸n
                    e.preventDefault();

                    //Iniciamos la solicitud POST
                    fetch(`/film/api/anyadirPuesto/${document.getElementById('numero_puesto').value}/${document.getElementById('nombre_puesto').value}/${document.getElementById('numero_operarios').value}/${document.getElementById('mapa').value}/${document.getElementById('turno').value}/${planta}`, {
                        method: "POST"
                    })
                        //Controlamos la respuesta
                        .then(response => {
                            //En caso de que todo haya salido bien
                            if (response.status === 201) {
                                mostrarAlerta("Puesto creado", null, null, 1);
                            }

                            //En caso de error
                            else if (response.status === 400) {
                                mostrarAlerta("Error en la creaci贸n del puesto", "Se ha producido un error a la hora de crear el puesto", "error", 0);
                            }

                            //Otros casos no controlados
                            else {
                                console.log("Respuesta: ", response);
                                mostrarAlerta("Estado no controlado", "No se ha sido capaz de controlar el estado de la creaci贸n del puesto", "question", null);
                            }
                        })

                        //Controlamos los errores
                        .catch(error => {
                            mostrarAlerta("Error", "Error de conexi贸n con el servidor", "error", null);
                        });
                });
            });

            //Aplicamos la funcionalidad para el bot贸n de cerrar el modal
            $('#closeModal').click(function () {
                //Cerramos el modal
                $('#modal').fadeOut();
            });
        });
    });

    //Creamos una instancia del DropDown de los turnos
    const dropdown_turnos_opciones = document.querySelectorAll('.dropdown-item');

    //Iteramos por el dropdown de los turnos
    dropdown_turnos_opciones.forEach(item => {
        //Creamos un escuchador
        item.addEventListener('click', function (event) {
            //Creamos una variable para obtener el dato del turno
            const turno_seleccionado = event.target.getAttribute('data-turno');

            //Creamos una variable para almacenar el texto del turno
            let turno;

            //Creamos un switch para controlar el turno seleccionado
            switch (turno_seleccionado) {
                case "M":
                    turno = "Ma帽ana";
                    break;

                case 'T':
                    turno = "Tarde";
                    break;

                case 'N':
                    turno = "Noche";
                    break;

                default:
                    turno = "Todos los turnos"
                    break;
            }

            //Creamos una instancia del dropdown
            const dropdown_turnos = document.getElementById('dropdownTurnos');

            //Cambios el texto del bot贸n del dropdown al turno seleccionado
            dropdown_turnos.textContent = turno;

            //Llamamos a la funci贸n para ocultar/mostrar los puestos dependiendo del turno seleccionado
            mostrarPuestoTurno(turno_seleccionado);
        });
    });


    /**
     * Funci贸n para mostrar/ocultar los puestos por el turno seleccionado
     * */
    function mostrarPuestoTurno(turno_seleccionado) {
        console.log("Turno seleccionado: ", turno_seleccionado);

        //Creamos una instancia de los LI
        const li_elementos = document.querySelectorAll('#graficos-container .glide__slide');

        console.log("LI: ", li_elementos)

        //Recorremos cada li
        li_elementos.forEach(li => {
            //Almacenamos el turno del puesto
            const turno = li.getAttribute('data-turno');

            console.log("Turno: ", turno);

            //Si el usuario selecciona todos los puestos
            if (turno_seleccionado === 'A') {
                li.classList.remove('ocultarElemento');

                //Si el turno coincide con el seleccionado o ha seleccionado todos los turnos...
            } else if (turno === turno_seleccionado) {
                li.classList.remove('ocultarElemento');

                //En cualquier otro caso...
            } else {
                li.classList.add('ocultarElemento');
            }
        });
    }
</script>

</html>