<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title%></title>
    <!--INCLUDE THE HEADER-->
    <%- include('../partials/head.ejs') %>
        <script src="/script/library/bestPractise/viewControlMatrix.js"></script>
        <script src="/script/library/getUserID.js"></script>
</head>

<body>
</body>

</html>