<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Responsible pilot</th>
                    <th scope="col">External Scalability</th>
                    <th scope="col">Main Image</th>
                    <th scope="col">UserID</th>
                    <th scope="col">Status</th>
                    <th scope="col">Pilot plant</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>