<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
    <link rel="stylesheet" href="/css/index/main.css">
    <link rel="icon" type="image/x-icon" href="/assets/index/HORSE_FAVICON.ico">
</head>

<body>
    <div class="container">
        <!-- Logo -->
        <div class="logo">
            <img src="/assets/index/logo_HORSE.png" alt="Logo">
        </div>

        <!-- Título -->
        <h1>Welcome</h1>

        <!-- Botones -->
        <div class="btn-container">
            <a href="/film" class="btn">Go to the Logistics Engagement</a>
            <a href="/library" class="btn">Go to the Digital Library</a>
            <a href="/dieDimensional" class="btn">Go to the Die Dimensional</a>
        </div>

        <!-- Imágenes -->
        <div class="images">
            <img src="/assets/index/forklift.png" alt="Forklift engagement">
            <img src="/assets/index/digitalLibrary.png" alt="Digital Library">
            <img src="/assets/index/dieDimensional.jpeg" alt="Die Dimensional">
        </div>
    </div>
</body>

</html>