<div class="row mb-3">
    <div class="col">
        <input type="text" id="id" name="id" hidden>
        <label for="ciNumber" class="form-label">CI Number</label>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">IRN-</span>
            <input type="text" class="form-control" id="ciNumber" name="ciNumber" aria-describedby="basic-addon1">
        </div>
    </div>

    <div class="col">
        <label for="shortName" class="form-label">Short Name</label>
        <input type="text" id="shortName" name="shortName" class="form-control">
    </div>

    <div class="col">
        <label for="KMLongName" class="form-label">KM Long Name</label>
        <input type="text" id="KMLongName" name="KMLongName" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="KMShortName" class="form-label">KM Short Name</label>
        <input type="text" id="KMShortName" name="KMShortName" class="form-control">
    </div>

    <div class="col">
        <label for="longName" class="form-label">Long Name</label>
        <input type="text" id="longName" name="longName" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Type</label>
        <input type="text" id="type" name="type" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">SIA</label>
        <input type="text" id="sia" name="sia" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Install Status</label>
        <input type="text" id="installStatus" name="installStatus" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Criticality</label>
        <input type="text" id="criticality" name="criticality" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">Support groups</label>
        <input type="text" id="supportGroups" name="supportGroups" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Bussines Line</label>
        <input type="text" id="bussinesLine" name="bussinesLine" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Group level usage</label>
        <input type="text" id="groupLevelUsage" name="groupLevelUsage" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">Owned By</label>
        <input type="text" id="ownedBy" name="ownedBy" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Managed by org. Type</label>
        <input type="text" id="managedByOrgType" name="managedByOrgType" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Led by</label>
        <input type="text" id="ledBy" name="ledBy" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">Developed by</label>
        <input type="text" id="developedBy" name="developedBy" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Hosting provider</label>
        <input type="text" id="hostingProvider" name="hostingProvider" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Execution platform</label>
        <input type="text" id="executionPlatform" name="executionPlatform" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">Domain IRN</label>
        <input type="text" id="domainIRN" name="domainIRN" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Sub-Domain</label>
        <input type="text" id="subDomain" name="subDomain" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">CMDB Description</label>
        <input type="text" id="cmdbDescription" name="cmdbDescription" class="form-control">
    </div>
</div>

<div class="row mb-3">
    <div class="col">
        <label for="sia" class="form-label">Created</label>
        <input type="date" id="created" name="created" class="form-control">
    </div>

    <div class="col">
        <label for="installStatus" class="form-label">Created by</label>
        <input type="email" id="createdBy" name="createdBy" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Updated</label>
        <input type="date" id="updated" name="updated" class="form-control">
    </div>

    <div class="col">
        <label for="type" class="form-label">Updated by</label>
        <input type="email" id="updatedBy" name="updatedBy" class="form-control">
    </div>
</div>