<form id="bestPractise" autocomplete="off">
    <div class="row mb-3">
        <div class="col">
            <label for="type" class="form-label">Type</label>

            <input type="text" class="form-control" id="type" name="type">
        </div>

        <div class="col">
            <label for="factory" class="form-label">Facory</label>

            <input type="text" class="form-control" id="factory" name="factory">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="etier" class="form-label">Etier</label>

            <input type="text" class="form-control" id="etier" name="etier">
        </div>

        <div class="col">
            <label for="category" class="form-label">Category</label>

            <input type="text" class="form-control" id="category" name="category">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <label for="saving" class="form-label">Saving</label>

            <input type="text" class="form-control" id="saving" name="saving">
        </div>

        <div class="col">
            <label for="description" class="form-label">Description</label>

            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
    </div>
</form>