<!-- TITLE -->
<div class="mb-3 form-floating">
    <input type="text" class="form-control" id="title" name="title" placeholder="Title">
    <label for="title" class="form-label" style="color: #6c757d;">Title</label>
</div>

<!-- DESCRIPTION -->
<div class="mb-3 form-floating">
    <textarea class="form-control" id="description" name="description" placeholder="Description"></textarea>
    <label for="description" class="form-label" style="color: #6c757d;">Description</label>
</div>

<!-- IMAGE FILE -->
<div class="mb-3 form-floating">
    <input class="form-control" type="file" id="blueprintImage" name="blueprintImage" accept=".png, .jpg, .jpeg">
    <label for="blueprintImage" class="form-label" style="color: #6c757d;">Image</label>
</div>

<!-- STL FILE -->
<div class="mb-3 form-floating">
    <input class="form-control" type="file" id="blueprintFile" name="blueprintFile" accept=".stl">
    <label for="blueprintFile" class="form-label" style="color: #6c757d;">3D file</label>
</div>