<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">CI Number</th>
                    <th scope="col">Short Name</th>
                    <th scope="col">KM Long name</th>
                    <th scope="col">KM Short Name</th>
                    <th scope="col">Long name</th>
                    <th scope="col">Type</th>
                    <th scope="col">SIA</th>
                    <th scope="col">Install status</th>
                    <th scope="col">Criticality</th>
                    <th scope="col">Support groups</th>
                    <th scope="col">Bussines Line</th>
                    <th scope="col">Group level usage</th>
                    <th scope="col">Owned by</th>
                    <th scope="col">Managed by</th>
                    <th scope="col">Led by</th>
                    <th scope="col">Developed by</th>
                    <th scope="col">Hosting provider</th>
                    <th scope="col">Execution platform</th>
                    <th scope="col">Domain IRN</th>
                    <th scope="col">Sub-Domain</th>
                    <th scope="col">CMDB Description </th>
                    <th scope="col">Created</th>
                    <th scope="col">Created by</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Updated by</th>
                    <th scope="col">UserId</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>