<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID best practise applied</th>
                    <th scope="col">ID best practise</th>
                    <th scope="col">Title</th>
                    <th scope="col">Applied factory</th>
                    <th scope="col">Status</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Budget of the year</th>
                    <th scope="col">Estimated date</th>
                    <th scope="col">IPN</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>
