<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Flow name</th>
                    <th scope="col">Flow ID</th>
                    <th scope="col">Owner</th>
                    <th scope="col">State</th>
                    <th scope="col">Description</th>
                    <th scope="col">URL</th>
                    <th scope="col">UserID</th>
                    <th scope="col">Factory</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>