<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Factory</th>
                    <th scope="col">Type report</th>
                    <th scope="col">Platform</th>
                    <th scope="col">Location/URL</th>
                    <th scope="col">URL</th>
                    <th scope="col">Description</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Video tutorial</th>
                    <th scope="col">Data source</th>
                    <th scope="col">Sent elementals</th>
                    <th scope="col">Function</th>
                    <th scope="col">Subfunction</th>
                    <th scope="col">Comments</th>
                    <th scope="col">UserId</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>