<div id="dataTableControls" class="btn-group" role="group" aria-label="Basic outlined example">
    <button id="scrollLeftButton" class="btn btn-outline-primary">Left</button>
    <button id="scrollResetButton" class="btn btn-outline-primary">Reset</button>
    <button id="scrollRightButton" class="btn btn-outline-primary">Right</button>
</div>