<button id="floatin_button_assistant" class="btn btn-outline-primary btn-lg btn-flotante" hidden>
    <div id="lottie-container-floating"></div>
</button>

<script>
    //Create an instance of "Horsito"
    const animation = lottie.loadAnimation({
        container: document.getElementById('lottie-container-floating'),
        renderer: 'svg',
        loop: false,
        autoplay: false, 
        path: '/animations/library/Asistente.json'
    });
</script>