<!-- MAIN MODAL -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;" id="modal-body">
                ...
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- APPLY BEST PRACTISE FORM MODAL-->
<div class="modal fade" id="bestPractiseModalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal apply best practise form</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                ...
            </div>
            <div class="modal-footer">
                
            </div>
        </div>
    </div>
</div>

<!-- DELETE MODAL -->
<div class="modal fade" id="modalConfirmDelete" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
    tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalToggleLabel2" style="color: black;">Modal 2</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                Hide this modal and show the first with the button below.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="deleteRow">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- REPORT MODAL -->
<div class="modal fade" id="modalReport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable custom-modal-size">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- INFORMATION MODAL -->
<div class="modal fade" id="modalInformation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- COMPONENTS MODAL -->
<div class="modal fade" id="componetsModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>
