<div class="btn-group" role="group">
    <div class="dropdown" id="tableOptions">
        <button class="btn btn-secondary dropdown-toggle" data-bs-auto-close="outside"
            type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Table options
        </button>

        <ul class="dropdown-menu" id="dropdown">
        </ul>
    </div>
</div>