<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">CHARACTERISTIC</th>
                    <th scope="col">DESCRIPTION</th>
                    <th scope="col">STATUS</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>