<div class="form-row container">
    <div class="input-group mb-3 w-100">
        <span id="fecha_creacion_span" class="input-group-text">Report creation date</span>
        <input type="date" id="fecha_creacion_reporte" name="fecha_creacion_reporte" class="form-control" disabled>
    </div>

    <div class="input-group mb-3 w-100">
        <span id="pieza_medida_span" class="input-group-text">Measured part</span>
        <input type="text" id="pieza_medida" name="pieza_medida" class="form-control" disabled>
    </div>

    <div class="input-group mb-3 w-100">
        <span id="tipo_molde_span" class="input-group-text">Mold type</span>
        <input type="text" id="tipo_molde" name="tipo_molde" class="form-control" disabled>
    </div>
</div>

<div class="form-row container">
    <div class="input-group mb-3 w-100">
        <span id="molde_span" class="input-group-text">Mold</span>
        <input type="text" id="molde" name="molde" class="form-control" disabled>
    </div>

    <div class="input-group mb-3 w-100">
        <span id="maquina_span" class="input-group-text">Machine</span>
        <input type="text" id="maquina" name="maquina" class="form-control" disabled>
    </div>

    <div class="input-group mb-3 w-100">
        <span id="puesto_span" class="input-group-text">Position</span>
        <input type="number" id="puesto" name="puesto" class="form-control" disabled>
    </div>

    <div class="input-group mb-3 w-100">
        <span id="comentario_span" class="input-group-text">Comments on <br>measurement</span>
        <input type="text" id="comentarios" name="comentarios" class="form-control">
    </div>
</div>