<!--MODAL PRINCIPAL-->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header" id="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;" id="modal-body">
                ...
            </div>
            <div class="modal-footer" id="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL XL-->
<div class="modal fade" id="modalInformation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" style="color: black;">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="color: black;">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline-danger" data-bs-target="#modalConfirmDelete"
                    data-bs-toggle="modal" id="deleteButtonMainModal">Delete</button>
                <button type="button" class="btn btn-primary" id="updateRow">Update</button>
            </div>
        </div>
    </div>
</div>