<div class="list" id="list">
    <div class="table-responsive">
        <table id="dataTable" class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th id="date_dt" scope="col">Date</th>
                    <th id="measured_part_dt" scope="col">Measured part</th>
                    <th id="mag_dt" scope="col">MAG</th>
                    <th id="mag_position_id" scope="col">MAG Position</th>
                    <th id="mold_type_dt" scope="col">Mold type</th>
                    <th id="mold_dt" scope="col">Mold</th>
                    <th id="injection_machine_dt" scope="col">Injection Machine</th>
                    <th id="3d_machine_dt" scope="col">3D machine</th>
                    <th id="measured_type_dt" scope="col">Mesasured type</th>
                    <th id="non_conformities_dt" scope="col">Non-conformities</th>
                </tr>
            </thead>

            <tbody id="body"></tbody>
        </table>
    </div>
</div>