<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Premachining</title>
    <script src="/script/dieDimensional/Curitiba/premecanizado.js"></script>
    <!--INCLUIMOS LA CABECERA-->
    <%- include('../../partials/head.ejs') %>
</head>
<body>
    <!--INCLUIMOS LA BARRA DE NAVEGACIÓN-->
    <%- include('../../partials/nav.ejs') %>

    <div class="container">
        <h1><%-title %></h1><hr>

        <!--INCLUIMOS EL DATA TABLE DEL PREMECANIZADO DE CURITIBA-->
        <%- include('../../partials/curitiba/dt_premecanizado.ejs') %>
    </div>
</body>
</html>

<script>
    //Marcamos la pestaña de curitiba
    document.getElementById('curitiba_nav').classList.add('active');
</script>